# Prisma
DATABASE_URL=

# Spotify Integration - Once Client ID and Secret are added, go to /api/dev/spotify-oauth to get refresh token
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# NextJS
NEXT_PUBLIC_APP_URL=

# GitHub Job
GITHUB_JOB_SECRET=
GITHUB_JOB_USERNAME=

# Statistics Job
STATISTICS_JOB_SECRET=
STATISTICS_JOB_CHANNEL=
STATISTICS_JOB_API_KEY=