body {
    position: relative;
}

.header-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(rgb(43, 172, 144), rgb(0, 102, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hoverItem:hover {
    transform: translateY(-4px);
}

.loading-loader {
    border-radius: 50%;
    position: relative;
    margin: 50px;
    display: inline-block;
    height: 0;
    width: 0;
}

.loading-loader span {
    position: absolute;
    display: block;
    background-color: #0b9496;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: -20px;
    perspective: 100000px;
}
.loading-loader span:nth-child(1) {
    left: 60px;
    animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0s;
}
.loading-loader span:nth-child(2) {
    left: 20px;
    animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.2s;
}
.loading-loader span:nth-child(3) {
    left: -20px;
    animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.4s;
}
.loading-loader span:nth-child(4) {
    left: -60px;
    animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
    animation-delay: 0.6s;
}

@keyframes bounce2 {
    0%,
    75%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-30px);
    }
}

@keyframes UpDown {
    from {
        transform: rotate(0deg) translateY(0);
    }
    to {
        transform: rotate(20deg) translateY(50px);
    }
}
@keyframes UpDownWide {
    from {
        transform: rotate(0deg) translateY(0);
    }
    to {
        transform: rotate(12deg) translateY(300px);
    }
}

.UpDownAnimation > svg {
    animation-name: UpDown;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.UpDownSlowAnimation > svg {
    animation-name: UpDown;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.UpDownWideAnimation > svg {
    animation-name: UpDownWide;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.blog-content *:not(svg, h1, h2, h3, h4, h5, h6, a, .codeEditorTitle) {
    margin-top: 1.1em !important;
}

.blog-content h1 {
    font-weight: 600;
}

.blog-content h2 {
    font-weight: 600;
}

.blog-content h3 {
    font-weight: 600;
}

.blog-content h4 {
    font-weight: 600;
}

.blog-content h5 {
    font-weight: 600;
}

.blog-content h6 {
    font-weight: 600;
}

.blog-content p {
    font-size: 1rem;
}

.remark-code-title + pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@keyframes animatedUnderline {
    0% {
        stroke-dashoffset: 850;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.animated-underline {
    stroke-dasharray: 850;
    stroke-dashoffset: 850;
    animation: animatedUnderline cubic-bezier(0.51, 0, 0.71, 0.98) 1.4s forwards;
}

.code .token.operator,
.code .token.entity,
.code .token.url,
.code .language-css .token.string,
.code .style .token.string {
    color: #f59e0b;
}

.code .token.regex,
.code .token.important,
.code .token.variable {
    color: #f59e0b;
}

.code .token.comment,
.code .token.prolog,
.code .token.doctype,
.code .token.cdata,
.code .token.punctuation {
    color: #e5e7eb;
}

.code .token.parameter {
    color: #a9dcff;
}

.code .token.string {
    color: #bf6f43;
}

.code .token.atrule,
.code .token.attr-value {
    color: #be86c1;
}

.code .token.keyword {
    color: #467ad7;
}

.code .token.maybe-class-name {
    color: rgb(43, 172, 144);
}

.code .token.selector,
.code .token.attr-name,
.code .token.char,
.code .token.builtin,
.code .token.inserted {
    color: #93c5fd;
}

.code .token.function,
.code .token.class-name {
    color: #d4ce91;
}

.code .token.property,
.code .token.tag,
.code .token.boolean,
.code .token.number,
.code .token.constant,
.code .token.symbol,
.code .token.deleted {
    color: #c4b5fd;
}

.navItem li > ul {
    transform: translatex(100%) scale(0);
}
.navItem li:hover > ul {
    transform: translatex(101%) scale(1);
}
.navItem li > button svg {
    transform: rotate(-90deg);
}
.navItem li:hover > button svg {
    transform: rotate(-270deg);
}

.group:hover .group-hover\:scale-100 {
    transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}
.scale-0 {
    transform: scale(0);
}
.min-w-32 {
    min-width: 8rem;
}
