@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   position: relative;
}

html[class="dark"] .pageBackground {
   background: rgba(26, 33, 42, 0.8);
}

.pageBackground {
   background: rgba(255, 255, 255, 0.8);
}

@keyframes bounce {
   0%,
   75%,
   100% {
      transform: translateY(0px);
   }
   25% {
      transform: translateY(-30px);
   }
}

@keyframes UpDown {
   from {
      transform: rotate(0deg) translateY(0);
   }
   to {
      transform: rotate(20deg) translateY(50px);
   }
}
@keyframes UpDownWide {
   from {
      transform: rotate(0deg) translateY(0);
   }
   to {
      transform: rotate(12deg) translateY(300px);
   }
}

.UpDownAnimation > svg {
   animation-name: UpDown;
   animation-duration: 4s;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}

.UpDownSlowAnimation > svg {
   animation-name: UpDown;
   animation-duration: 11s;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}

.UpDownWideAnimation > svg {
   animation-name: UpDownWide;
   animation-duration: 10s;
   animation-timing-function: ease-in-out;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}
