name: youtube_cron:update

on:
   schedule:
      - cron: "*/10 * * * *"

jobs:
   execute:
      runs-on: ubuntu-latest
      steps:
         - uses: satak/webrequest-action@master
           with:
              url: https://davidilie.com/api/cron/statistics?secret=${{ secrets.YOUTUBE_JOB_SECRET }}
              method: GET
